@charset "utf-8";

$tabs-boxed-link-hover-background-color: hsl(0, 0%, 4%);
$tabs-boxed-link-active-border-color: #fff;
$tabs-boxed-link-active-background-color: hsl(0, 0%, 21%);
$tabs-border-bottom-color: #fff;

@import "../node_modules/bulma/bulma.sass";